force-app/main/default/flows/HOT_NotifyCourseSubscribers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Copy_1_of_addCourseLineToEmail</name>
        <label>Copy 1 of addCourseLineToEmail</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>emailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>courseLineEachCourse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_courses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createEmail</name>
        <label>createEmail</label>
        <locationX>490</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>singleEmail.HTMLBody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleEmail.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleEmail.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nye kurs du kan melde deg på</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleEmail.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_subsrcribers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleEmail.ToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_subsrcribers.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_subsrcribers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sjekker om temaet eller kategorien er det abbonent har registrert seg på, og legger det til i eposten</description>
        <name>add_courses_to_email_based_on_subscriber</name>
        <label>add courses to email based on subscriber</label>
        <locationX>710</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>loop_courses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_subscribe_theme_category_matches_course</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>loop_courses.Theme__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Arbeidssøkeraktivitet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_subsrcribers.Categories__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Arbeidssøkeraktivitet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_courses.Theme__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inkluderende arbeidsliv (IA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_subsrcribers.Categories__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inkluderende arbeidsliv (IA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_courses.Theme__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hjelpemidler og tilrettelegging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_subsrcribers.Categories__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hjelpemidler og tilrettelegging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_addCourseLineToEmail</targetReference>
            </connector>
            <label>check if subscribe theme category matches course</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfNewCourses</name>
        <label>checkIfNewCourses</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>no new courses</defaultConnectorLabel>
        <rules>
            <name>isNewCourses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNewCourse</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCourseSubscribers</targetReference>
            </connector>
            <label>isNewCourses</label>
        </rules>
    </decisions>
    <description>Generate emails for subscribers</description>
    <environments>Default</environments>
    <formulas>
        <name>courseEndFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(MID(TEXT({!loop_courses.RegistrationFromDateTime__c}), 12, 2))) &amp; &quot;.&quot; &amp;
TEXT(VALUE(MID(TEXT({!loop_courses.RegistrationToDateTime__c}), 15, 2)))</expression>
    </formulas>
    <formulas>
        <name>courseLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://arbeidsgiver.nav.no/kursoversikt/&quot;&amp;{!loop_courses.Id}</expression>
    </formulas>
    <formulas>
        <name>courseName</name>
        <dataType>String</dataType>
        <expression>{!loop_courses.Name}</expression>
    </formulas>
    <formulas>
        <name>courseShortDescription</name>
        <dataType>String</dataType>
        <expression>{!loop_courses.DescriptionShort2__c}</expression>
    </formulas>
    <formulas>
        <name>courseStartFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!loop_courses.RegistrationFromDateTime__c}))) &amp; &quot;. &quot; &amp;
CASE(
  MONTH(DATEVALUE({!loop_courses.RegistrationFromDateTime__c})),
  1, &quot;januar&quot;,
  2, &quot;februar&quot;,
  3, &quot;mars&quot;,
  4, &quot;april&quot;,
  5, &quot;mai&quot;,
  6, &quot;juni&quot;,
  7, &quot;juli&quot;,
  8, &quot;august&quot;,
  9, &quot;september&quot;,
  10, &quot;oktober&quot;,
  11, &quot;november&quot;,
  12, &quot;desember&quot;,
  &quot;ukjent&quot;
) &amp; &quot; &quot; &amp;
TEXT(YEAR(DATEVALUE({!loop_courses.RegistrationFromDateTime__c}))) &amp;
&quot; kl &quot; &amp;
TEXT(VALUE(MID(TEXT({!loop_courses.RegistrationFromDateTime__c}), 12, 2))) &amp; &quot;.&quot; &amp;
TEXT(VALUE(MID(TEXT({!loop_courses.RegistrationFromDateTime__c}), 15, 2)))</expression>
    </formulas>
    <interviewLabel>HOT_NotifyCourseSubscribers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Notify Course Subscribers</label>
    <loops>
        <name>loop_courses</name>
        <label>loop courses</label>
        <locationX>490</locationX>
        <locationY>684</locationY>
        <collectionReference>getNewCourse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_courses_to_email_based_on_subscriber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_subsrcribers</name>
        <label>loop subsrcribers</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>getCourseSubscribers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_courses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendemail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sendemail</name>
        <label>sendemail</label>
        <locationX>50</locationX>
        <locationY>1368</locationY>
        <inputReference>emailCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Henter alle abbonenter som abbonnerer på kurs</description>
        <name>getCourseSubscribers</name>
        <label>getCourseSubscribers</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_subsrcribers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_CourseSubscriber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Hent alle kurs nye kurs som det ikke er blitt sendt ut eposter om</description>
        <name>getNewCourse</name>
        <label>getNewCourse</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfNewCourses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course__c</object>
        <sortField>RegistrationFromDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNewCourse</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-05-08</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>courseLineEachCourse</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!courseName} {!courseStartFormatted} – {!courseEndFormatted}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!courseShortDescription}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!courseLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Les mer&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!emailText}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
    <variables>
        <name>emailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rasmus.steine.olsen@nav.no</stringValue>
        </value>
    </variables>
    <variables>
        <name>singleEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>
