force-app/main/default/flows/HOT_AssignCalendarTextToCourseRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Calendar_text</name>
        <label>Assign Calendar text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OutlookCalendarDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course.OutlookCalendar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OutlookOfficeDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course.OutlookOfficeCalendar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GoogleCalendarDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course.GoogleCalendar__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get the course calandar data, and assign it to the calendar data in course registration</description>
    <environments>Default</environments>
    <interviewLabel>HOT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_AssignCalendarTextToCourseRegistration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Calendar_text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <object>CourseRegistration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
