force-app/main/default/flows/HOT_WhenCourseCalendarIsCreatedSetRegistrationCalendar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Outlook_Calendar_Text</name>
        <label>Assign Outlook Calendar Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_CourseRegistrations.OutlookCalendarDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OutlookCalendar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_CourseRegistrations.OutlookOfficeDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OutlookOfficeCalendar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_CourseRegistrations.GoogleCalendarDisplay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GoogleCalendar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedCourseRegistrations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_CourseRegistrations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CourseRegistrations</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HOT_CourseAssignCalendarTO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_WhenCourseCalendarIsCreatedSetRegistrationCalendar</label>
    <loops>
        <name>Loop_Through_CourseRegistrations</name>
        <label>Loop Through CourseRegistrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CourseRegistration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Outlook_Calendar_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CourseRegistrations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CourseRegistration</name>
        <label>Get CourseRegistration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_CourseRegistrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CourseRegistration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CourseRegistrations</name>
        <label>Update CourseRegistrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>updatedCourseRegistrations</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CourseRegistration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OutlookCalendar__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OutlookOfficeCalendar__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GoogleCalendar__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Course__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>updatedCourseRegistrations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CourseRegistration__c</objectType>
    </variables>
</Flow>
