force-app/main/default/flows/HOT_ConfirmCourseEmailSubscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>createEmail</name>
        <label>createEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>email.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bekreft abbonering på kurs fra Nav</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>courseNewEmailSubscriber</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.ToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Kurs_site_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HOT Confirm Course Email Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Confirm Course Email Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>email</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Kurs_site_user</name>
        <label>get Kurs site user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kurs Site Guest User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Kurs_site_user</targetReference>
        </connector>
        <object>HOT_CourseSubscriber__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>