force-app/main/default/flows/HOT_ConfirmCourseEmailSubscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>createEmail</name>
        <label>createEmail</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>email.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bekreft abonnering på kurs fra Nav</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>navEmpty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.ToAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Kurs_site_user.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.HTMLBody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>emailSubscriberUrl</name>
        <dataType>String</dataType>
        <expression>{!$Record.MangageEmailSubscriptionUrl__c}</expression>
    </formulas>
    <interviewLabel>HOT Confirm Course Email Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Confirm Course Email Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>email</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Kurs_site_user</name>
        <label>get Kurs site user</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kurs Site Guest User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Kurs_site_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MangageEmailSubscriptionUrl__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MangageEmailSubscriptionUrl__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HOT_CourseSubscriber__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei. Vennligst &lt;a href=&quot;https://flow-speed-5539.scratch.lightning.force.com/builder_platform_interaction/{!emailSubscriberUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;klikk her&lt;/a&gt; for å bekrefte at du ønsker å motta eposter om nye kurs som legges ut på nav sine nettsider. Du kan også bruke samme lenke til å velge hvilket kategorier du ønsker å motta varsel om.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Om du ikke kjenner deg igjen i dette, ignorer denne eposten.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>
