force-app/main/default/flows/HOT_CourseCancellationEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Legg_til_email_i_collection</name>
        <label>Legg til email i collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_all_participants_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opprett_email</name>
        <label>Opprett email</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>email.SaveAsActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_email_to_all_participants_loop.CourseParticipant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>courseCancellation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.WhatId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_email_to_all_participants_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legg_til_email_i_collection</targetReference>
        </connector>
    </assignments>
    <description>Sends emails to participants when course is cancelled</description>
    <environments>Default</environments>
    <interviewLabel>Course Cancellation email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Cancellation email</label>
    <loops>
        <name>Send_email_to_all_participants_loop</name>
        <label>Send email to all participants loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opprett_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records1</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>emails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_participants</name>
        <label>Get all participants</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_all_participants_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Påmeldt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CourseRegistration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_participants</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancel__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>
