force-app/main/default/flows/HOT_DeleteInactveEmailSubscribers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_delete_record_collection</name>
        <label>add to delete record collection</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>deleteRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>delete_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_email_subscriber_is_inactive</name>
        <label>check if email subscriber is inactive</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_delete_record_collection</targetReference>
            </connector>
            <label>is inactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT Delete inactve email subscribers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Delete inactve email subscribers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_records</name>
        <label>delete records</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputReference>deleteRecords</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>HOT_CourseSubscriber__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>delete_inactive_course_email_subscribers</name>
            <connector>
                <targetReference>check_if_email_subscriber_is_inactive</targetReference>
            </connector>
            <label>delete inactive course email subscribers</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>deleteRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_CourseSubscriber__c</objectType>
    </variables>
</Flow>
