force-app/main/default/flows/HOT_NotifyCourseSubscribers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>addCourseLineToEmail</name>
        <label>addCourseLineToEmail</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>courseLineEachCourse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailLoop</targetReference>
        </connector>
    </assignments>
    <description>Generate emails for subscribers</description>
    <environments>Default</environments>
    <formulas>
        <name>courseEndFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(MID(TEXT({!emailLoop.RegistrationToDateTime__c}), 12, 2))) &amp; &quot;.&quot; &amp;
TEXT(VALUE(MID(TEXT({!emailLoop.RegistrationToDateTime__c}), 15, 2)))</expression>
    </formulas>
    <formulas>
        <name>courseLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://arbeidsgiver.nav.no/kursoversikt/&quot; &amp; {!emailLoop.Id}</expression>
    </formulas>
    <formulas>
        <name>courseName</name>
        <dataType>String</dataType>
        <expression>{!emailLoop.Name}</expression>
    </formulas>
    <formulas>
        <name>courseShortDescription</name>
        <dataType>String</dataType>
        <expression>{!emailLoop.DescriptionShort2__c}</expression>
    </formulas>
    <formulas>
        <name>courseStartFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!emailLoop.RegistrationFromDateTime__c}))) &amp; &quot;. &quot; &amp;
CASE(
  MONTH(DATEVALUE({!emailLoop.RegistrationFromDateTime__c})),
  1, &quot;januar&quot;,
  2, &quot;februar&quot;,
  3, &quot;mars&quot;,
  4, &quot;april&quot;,
  5, &quot;mai&quot;,
  6, &quot;juni&quot;,
  7, &quot;juli&quot;,
  8, &quot;august&quot;,
  9, &quot;september&quot;,
  10, &quot;oktober&quot;,
  11, &quot;november&quot;,
  12, &quot;desember&quot;,
  &quot;ukjent&quot;
) &amp; &quot; &quot; &amp;
TEXT(YEAR(DATEVALUE({!emailLoop.RegistrationFromDateTime__c}))) &amp;
&quot; kl &quot; &amp;
TEXT(VALUE(MID(TEXT({!emailLoop.RegistrationFromDateTime__c}), 12, 2))) &amp; &quot;.&quot; &amp;
TEXT(VALUE(MID(TEXT({!emailLoop.RegistrationFromDateTime__c}), 15, 2)))</expression>
    </formulas>
    <interviewLabel>HOT_NotifyCourseSubscribers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Notify Course Subscribers</label>
    <loops>
        <description>Loop gjennom alle kursene og generer epost teksten</description>
        <name>emailLoop</name>
        <label>emailLoop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getNewCourse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addCourseLineToEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendemail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sendemail</name>
        <label>sendemail</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputAssignments>
            <field>HTMLBody__c</field>
            <value>
                <elementReference>emailText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Nye kurs du kan melde deg på</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetObjectId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress__c</field>
            <value>
                <stringValue>rasmus.steine.olsen@nav.no</stringValue>
            </value>
        </inputAssignments>
        <object>EmailQueue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Hent alle kurs nye kurs som det ikke er blitt sendt ut eposter om</description>
        <name>getNewCourse</name>
        <label>getNewCourse</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>emailLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Theme__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Annet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course__c</object>
        <sortField>RegistrationFromDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNewCourse</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-05-08</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>courseLineEachCourse</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!courseName} {!courseStartFormatted} – {!courseEndFormatted}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!courseShortDescription}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!courseLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Les mer&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!emailText}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rasmus.steine.olsen@nav.no</stringValue>
        </value>
    </variables>
</Flow>
