force-app/main/default/flows/HOT_Course_Reminder_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Course_Id_to_collection</name>
        <label>Add Course Id to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CourseIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Courses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Courses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Course_Registration_to_email_queue</name>
        <label>Add Course Registration to email queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.SaveAsActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Registrations.CourseParticipant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>courseAllScheduledEmailReminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEmailQueue.WhatId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Registrations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailQueueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmailQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Registrations</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>In3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <description>Starts in 4 days</description>
        <name>In4Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 4</expression>
    </formulas>
    <interviewLabel>HOT Course Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Course Reminder Email</label>
    <loops>
        <name>Loop_Through_Courses</name>
        <label>Loop Through Courses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Courses_Starting_in_3_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Course_Id_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Registrations_for_Course</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Registrations</name>
        <label>Loop Through Registrations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Registrations_for_Course</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Course_Registration_to_email_queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Course_Reminder_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Course_Reminder_Email</name>
        <label>Send Course Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>EmailQueueCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Courses_Starting_in_3_Days</name>
        <label>Get Courses Starting in 3 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RegistrationFromDateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>In3Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>RegistrationFromDateTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>In4Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registrations_for_Course</name>
        <label>Get Registrations for Course</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Registrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Påmeldt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CourseIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CourseRegistration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Courses_Starting_in_3_Days</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-04</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailQueueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
    <variables>
        <name>SingleEmailQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>
