force-app/main/default/flows/HOT_Course_set_Task_record_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Is_task_from_course</name>
        <label>Is task from course?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Not from course</defaultConnectorLabel>
        <rules>
            <name>Yes_is_from_course</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FirstThreeDigitsOfRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a16</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstThreeDigitsOfRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a19</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_id</targetReference>
            </connector>
            <label>Yes is from course</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstThreeDigitsOfRecordId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WhatId}, 3)</expression>
    </formulas>
    <interviewLabel>HOT Course set Task record type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Course set Task record type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_type_id</name>
        <label>Get record type id</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT_course</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_task_from_course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
