force-app/main/default/flows/HOT_CourseCancellationEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>disable_after_email</name>
        <label>disable after email</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EmailAfterConfirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cancelled_scheduled_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>disable_before_email</name>
        <label>disable before email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EmailBeforeConfirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cancelled_scheduled_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>disable_reminder_email</name>
        <label>disable reminder email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EmailReminderConfirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cancelled_scheduled_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Legg_til_email_i_collection</name>
        <label>Legg til email i collection</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_all_participants_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opprett_email</name>
        <label>Opprett email</label>
        <locationX>534</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>email.SaveAsActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TargetObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_email_to_all_participants_loop.CourseParticipant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.TemplateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>courseCancellation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email.WhatId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_email_to_all_participants_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legg_til_email_i_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Forhindre at skedulerte eposter sendes ut når kurset er blitt avlyst</description>
        <name>stop_scheduled_emails</name>
        <label>stop scheduled emails</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>update_cancelled_scheduled_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stop_before_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailBeforeSent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailBeforeConfirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>disable_before_email</targetReference>
            </connector>
            <label>stop before email</label>
        </rules>
        <rules>
            <name>stop_reminder_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailReminderSent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailReminderConfirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>disable_reminder_email</targetReference>
            </connector>
            <label>stop reminder email</label>
        </rules>
        <rules>
            <name>stop_after_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailAfterSent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailAfterConfirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>disable_after_email</targetReference>
            </connector>
            <label>stop after email</label>
        </rules>
    </decisions>
    <description>Sends emails to participants when course is cancelled, and prevents future emails to be sent</description>
    <environments>Default</environments>
    <interviewLabel>Course Cancellation email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Cancellation email</label>
    <loops>
        <name>Send_email_to_all_participants_loop</name>
        <label>Send email to all participants loop</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_all_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opprett_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records1</name>
        <label>Create Records</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <inputReference>emails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_participants</name>
        <label>Get all participants</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_all_participants_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Påmeldt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CourseRegistration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_cancelled_scheduled_emails</name>
        <label>update cancelled scheduled emails</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Get_all_participants</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>stop_scheduled_emails</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancel__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailQueue__c</objectType>
    </variables>
</Flow>
